:root {
  font-family: "Open Sans", system-ui, Arial, sans-serif;
  color: #000;

  background-color: #80B4D2;
}

button {
  background-color: #154880; 
  border: none;
  color: white;
  box-shadow: 0 0 40px 40px #154880 inset, 0 0 0 0 #154880;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  border-radius: 8px;
}


button:hover {
  box-shadow: 0 0 10px 0 #154880 inset, 0 0 10px 4px #154880;
  background-color: #fff;
  color: #154880;
}

button:hover .icon {
  fill: #154880; 
}

dfn {
  background: rgba(0,0,0,0.1);
  padding: 0 0.1em;
  cursor: help;
  font-style: italic;
  position: relative;
}

dfn::after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  top: 22px; left: 0;
  opacity: 0;
  width: 230px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5em;
  padding: 0.5em 0.8em;
  background: rgba(0,0,0,0.8);
  color: #fff;
  pointer-events: none; 
  transition: opacity 250ms, top 250ms;
}

dfn::before {
  content: '';
  display: block;
  position: absolute;
  top: 12px; left: 20px;
  opacity: 0;
  width: 0; height: 0;
  border: solid transparent 5px;
  border-bottom-color: rgba(0,0,0,0.8);
  transition: opacity 250ms, top 250ms;
}

dfn:hover {z-index: 2;} /* Keeps the info boxes on top of other elements */
dfn:hover::after,
dfn:hover::before {opacity: 1;}
dfn:hover::after {top: 30px;}
dfn:hover::before {top: 20px;}

h1 {
  font-family: 'Chathura', sans-serif;
  font-size: 140px;
  line-height: 60%;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h2 {
  font-size: 47px;
  font-weight: 100;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h3 {
  font-size: 28px;
}

h4 {
  margin-block-start: 0px;
  font-weight: 200;
}

h5 {
  text-align: center;
  font-weight: 100;
}

p {
  font-family: "Open Sans";
  font-size: 28px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

strong {
  display:inline !important;
}

svg {
  margin-right: 8px;
}

.container {
  display: block;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5vh;
}

.crypto-flex-left {
  min-width: 50%;
}

.crypto-flex-right {
  display: flex;
  max-width: 258px;
  padding-right: 10vw;
}

.flexbox {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header {
  display: flex;
}

.icon {
  fill: #ffffff;
}

.layout-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.left-block {
  min-width: 258px;
  max-width: 258px;
  flex: 0 auto;
  margin-right: 0;
}

.print-button {
float: right;
}

.speedup-text {
  position: relative;
}

.steps {
  margin-top: 20px;
}

.steps-image {
  margin-left: -28px;
}

.steps-text {
  display: grid;
  padding-left: 30px;
  font-size: 28px;
}